In [1]:
import pandas as pd

In [2]:
print ("#### PASO 1 #####")
df = pd.DataFrame()
print (df)

#### PASO 1 #####
Empty DataFrame
Columns: []
Index: []

In [3]:
print ("#### PASO 2 #####")
data = [5, 4, 3, 2 ,1 ]
df = pd.DataFrame(data)
print (df)

#### PASO 2 #####
   0
0  5
1  4
2  3
3  2
4  1

In [4]:
print ("#### PASO 3 #####")
data = [['Alex',10],['Bob',12],['Clarke',13], ['Ivan', 99]]
df = pd.DataFrame(data,columns=['Name','Age'])
print (df)

#### PASO 3 #####
     Name  Age
0    Alex   10
1     Bob   12
2  Clarke   13
3    Ivan   99

In [5]:
print ("#### PASO 4 #####")
#Create a DataFrame from Dict of ndarrays / Lists
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print (df)

#### PASO 4 #####
    Name  Age
0    Tom   28
1   Jack   34
2  Steve   29
3  Ricky   42

In [6]:
print ("#### PASO 5 #####")
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['Primer registro','Segundo registro','rank3','rank4'])
print (df)

#### PASO 5 #####
                   Name  Age
Primer registro     Tom   28
Segundo registro   Jack   34
rank3             Steve   29
rank4             Ricky   42

In [7]:
print ("#### PASO 6 #####")
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20},{'f': 5, 'c': 10, 'd': 20}]
df = pd.DataFrame(data)
print (df)

#### PASO 6 #####
     a     b     c    f     d
0  1.0   2.0   NaN  NaN   NaN
1  5.0  10.0  20.0  NaN   NaN
2  NaN   NaN  10.0  5.0  20.0

In [8]:
print ("#### PASO 7 #####")
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first', 'second'])
print (df)

#### PASO 7 #####
        a   b     c
first   1   2   NaN
second  5  10  20.0

In [9]:
print ("#### PASO 8 #####")
#varias vistas (dataframes) desde el mismo conjunto de datos
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df1 = pd.DataFrame(data, index=['first', 'second'], columns=['a', 'b'])
df2 = pd.DataFrame(data, index=['primero', 'segundo'], columns=['a', 'B'])
print (df1)
print (df2)

#### PASO 8 #####
        a   b
first   1   2
second  5  10
         a   B
primero  1 NaN
segundo  5 NaN

In [10]:
print ("##### recuperar una columna ######")
print (df1['a']) #recuperacion de columna/variable
print (df1.iloc[1]) #recuperacion de registro/vector

##### recuperar una columna ######
first     1
second    5
Name: a, dtype: int64
a     5
b    10
Name: second, dtype: int64

In [11]:
print ("###operacion##")
df1['sum']=df1['a']+df1['b'] #adjunto al final la columna suma que es la suma de las columna a y b
print (df1)
print ("### eliminacion de una columna ##")
del df1['sum']
print (df1)

###operacion##
        a   b  sum
first   1   2    3
second  5  10   15
### eliminacion de una columna ##
        a   b
first   1   2
second  5  10

In [12]:
print ("### slicing ##")
data = [{'a': 1, 'b': 2, 'c': 34, 'd': 20},{'a': 5, 'b': 10, 'c': 20, 'd':33},{'a': 95, 'b': 12, 'c': 56, 'd':78} ,{'a': 00, 'b': 11, 'c': 22, 'd':33} ,{'a': 10, 'b': 20, 'c': 30, 'd':40}]
df = pd.DataFrame(data, index=['first', 'second','third', 'fourth', 'fifth'], columns=['a', 'b', 'c', 'd'])
print (df)
print (df[1:3]) #slicing

### slicing ##
         a   b   c   d
first    1   2  34  20
second   5  10  20  33
third   95  12  56  78
fourth   0  11  22  33
fifth   10  20  30  40
         a   b   c   d
second   5  10  20  33
third   95  12  56  78

In [13]:
print ("### append ##")
df_aux = pd.DataFrame(data)
#df=df.append(df_aux)
#df=df.concat(df_aux)
print (df)

### append ##
         a   b   c   d
first    1   2  34  20
second   5  10  20  33
third   95  12  56  78
fourth   0  11  22  33
fifth   10  20  30  40

In [27]:
print ("### drop ##")
df = df.drop('first') #elimina el registro//vector
print (df)

### drop ##
         a   b   c   d
second   5  10  20  33
third   95  12  56  78
fourth   0  11  22  33
fifth   10  20  30  40